.form-register {
  display: none;
  flex-direction: column;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.warning {
  color: rgb(var(--warning));
  margin-bottom: 10px;
  margin-left: 2px;
}

.disable {
  display: none;
}

.enable {
  display: block;
}
