.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(var(--dark-btn));
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(var(--font));
  transition: 200ms;
}

.btn:hover {
  background-color: rgb(var(--dark-btn-hover));
}

.btn-login-tab {
  border-radius: 5px 0 0 0;
  width: 50%;
}

.btn-register-tab {
  border-radius: 0 5px 0 0;
  width: 50%;
}

.selected-tab {
  background-color: rgb(var(--selected-tab));
}

.btn-logout {
  margin-left: 20px;
  max-height: 50px;
  min-width: 150px;
}

.btn-manage {
  margin-right: 20px;
  max-height: 50px;
  min-width: 150px;
}

.btn-home {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 20px;
}

.btn-edit {
  background-color: transparent;
}

.btn-delete {
  background-color: transparent;
}
