body,
* {
  font-family: "Oxygen", sans-serif;
}

html,
body {
  background-color: rgb(var(--light-bg-v1));
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
